<!DOCTYPE html>
<html>

<head>
    <title>施工组织设计生成</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="only-if-cached">
    <style>
        pre {
            white-space: pre-wrap;
            /* CSS-3 /
           white-space: -moz-pre-wrap; / Mozilla, since 1999 /
           white-space: -pre-wrap; / Opera 4-6 /
           white-space: -o-pre-wrap; / Opera 7 /
           Word-wrap: break-word; / Internet Explorer 5.5+ */
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #222;
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: scroll;
            flex-direction: column;
        }
    </style>

    <script type="text/javascript" src="vue2.7.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="model.js"></script>
    <script type="text/javascript" src="model2.js"></script>
    <script src="jspdf.min.js"></script>
    <!--    <script src="font-han-sans.js"></script>-->
    <script src="font-simsun-normal.js"></script>
    <!--    <script src="simsun-bold.js"></script>-->
    <script src="font-simsun-bold.js"></script>
    <!--    <script src="jspdf-autotable-3.2.4.js"></script>-->
    <script src="jspdf-autotable-3.2.10.js"></script>
    <!--    <script src="jspdf-autotable-3.2.15.js"></script>-->
</head>

<body>
<div id="app">
    <div class="container-fluid p-5 bg-light text-black text-center">
        <h1>施工组织设计生成</h1>
        <a href="使用说明.md" style="margin: 15px;" target="_blank">使用说明</a>

        <div class="row text-center" style="margin-top: 28px">
            <div class="input-group mb-2" style="width: 50%">
                <span class="input-group-text">项目名称：</span>
                <input v-model="name" type="text" class="form-control">
            </div>

            <div class="input-group mb-2" style="width: 50%">
                <span class="input-group-text">施工地点：</span>
                <input v-model="address" type="text" class="form-control">
            </div>

            <div class="input-group mb-2" style="width: 50%">
                <span class="input-group-text">开始时间：</span>
                <input v-model="start_date" type="date" class="form-control">
            </div>

            <div class="input-group mb-2" style="width: 50%">
                <span class="input-group-text">截止时间：</span>
                <input v-model="end_date" type="date" class="form-control">
            </div>

            <div class="input-group mb-3" style="width: 50%">
                <span class="input-group-text">工期(天)：</span>
                <input v-model="duration" type="number" class="form-control">
            </div>

            <div class="input-group mb-3" style="width: 50%">
                <span class="input-group-text">行间距：</span>
                <input v-model="linespace" type="number" class="form-control">
            </div>
        </div>

        <div class="row" style="padding-top: 55px;text-align: left">
            <div class="col">
                <div style="display: flex;flex-direction: row;height: 48px;justify-content: center;text-align: center; line-height: 48px">
                    <h4 algin="center">选择模版</h4>
                    <a href="config.html" style="margin-left: 15px;" target="_blank">配置章模版</a>
                    <a href="config2.html" style="margin-left: 15px;" target="_blank">配置节模版</a>
                </div>
                <div class="card border-info bg-light"
                     style="margin-top: 25px;border-radius:25px;padding: 1.5% 3% 1.5% 3%">
                    <ul class="list-group" style="list-style: none;margin-top:0;padding:0%;">
                        <li v-for="obj in models"
                            style="margin-top: 1.5%;margin-bottom: 1.5%;padding:0">
                            <div class="card"
                                 style="border-radius:25px;padding: 16px;background: white">
                                <div style="display: flex;flex-direction: row" v-if="obj">
                                    <div style="display: flex;flex-direction: column;width: 84%">
                                        <span style="font-size: 22px;color:black;font-weight: 400;line-height: 23px;">
                                            {{ obj.contentCode +"：" + obj.title }}
                                        </span>
                                        <span style="margin-top: 10px">内容模版:</span>
                                        <select v-model="obj.selected" @change="selectOption" style="width: 100%">
                                            <option v-for="(option, index) in obj.contents" :key="index" :value="index"
                                                    style="height: auto">
                                                {{ (index+1) +". "+ option }}
                                            </option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-block btn-primary"
                                            @click="openPopup(obj)"
                                            style="width: 14%;border-radius:15px;margin-left:2%;margin-top:15px;margin-bottom:15px;">
                                        配置
                                    </button>

                                    <button type="button" class="btn btn-block"
                                            :class="[(obj.inUse) ? 'btn-danger' : 'btn-primary']" @click="useModel(obj)"
                                            style="width: 14%;border-radius:15px;margin-left:2%;margin-top:15px;margin-bottom:15px;">
                                        {{ (obj.inUse) ? "移除" : "使用" }}
                                    </button>
                                </div>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div style="display: flex;flex-direction: row;height: 48px;justify-content: center;text-align: center; line-height: 48px">
                    <h4 style="align-content: center">结果预览</h4>
                    <button id="export_pdf" type="button" class="btn btn-success"
                            style="margin-left: 15px;margin-bottom: 8px"
                            @click="genPDF"
                            :disabled="state!=='complete'"
                            v-if="retLi.length>0">导出PDF
                    </button>
                </div>
                <div id="resultLi" class="card"
                     style="background-color:white;margin-top: 25px;border-radius:25px;padding:16px;"
                     v-if="retLi.length>0">
                    <ul style="list-style: none;margin-top:0;padding-top:0;">
                        <li v-for="(obj,i) in retLi" style="padding-top: 16px;padding-bottom: 16px">
                            <div style="display: flex;flex-direction: row" v-if="obj">
                                <div style="display: flex;flex-direction: column;">
                                    <span style="font-size: 22px;color:black;font-weight: 400;line-height: 23px;">
                                        {{ formatTitle(i, obj.title) }}
                                    </span>
                                    <pre style="margin-top: 15px; white-space: pre-wrap;max-width: 700px">{{
                                            formatModel(obj.contents[obj.selected])
                                        }}</pre>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="popup" class="popup">
            <span style="color: white;font-size: 25px;height: 25px;padding: 25px">自定义章节内容</span>
            <div style="display: flex;flex-direction: row;height: 48px; line-height: 48px">
                <button type="button" style="margin-left: 25px"
                        onclick="confirConfig2()">确定
                </button>
                <button type="button" style="margin-left: 25px"
                        onclick="closePopup()">关闭
                </button>
            </div>
            <div class="row" style="padding-top: 25px;text-align: left">
                <div class="col">
                    <div style="display: flex;flex-direction: row;height: 48px;justify-content: center;text-align: center; line-height: 48px">
                        <h4 algin="center">选择小节模版</h4>
                    </div>
                    <div class="card border-info bg-light"
                         style="margin-top: 25px;border-radius:25px;padding: 1.5% 3% 1.5% 3%">
                        <ul class="list-group" style="list-style: none;margin-top:0;padding:0%;">
                            <li v-for="obj in availableLi2"
                                style="margin-top: 1.5%;margin-bottom: 1.5%;padding:0">
                                <div class="card"
                                     style="border-radius:25px;padding: 16px;background: white">
                                    <div style="display: flex;flex-direction: row" v-if="obj">
                                        <div style="display: flex;flex-direction: column;width: 84%">
                                        <span style="font-size: 22px;color:black;font-weight: 400;line-height: 23px;">
                                            {{ obj.contentCode +"：" + obj.title }}
                                        </span>
                                            <span style="margin-top: 10px">内容模版:</span>
                                            <span style="margin-top: 10px">{{obj.content.substring(0,25)}}</span>
                                        </div>
                                        <button type="button" class="btn btn-block btn-primary"
                                                @click="useModel2(obj)"
                                                style="width: 14%;border-radius:15px;margin-left:2%;margin-top:15px;margin-bottom:15px;">
                                            使用
                                        </button>
                                    </div>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div style="display: flex;flex-direction: row;height: 48px;justify-content: center;text-align: center; line-height: 48px">
                        <h4 style="align-content: center">结果预览</h4>
                    </div>
                    <div id="resultLi2" class="card"
                         style="background-color:white;margin-top: 25px;border-radius:25px;padding:16px;"
                         v-if="retLi2.length>0">
                            <span style="font-size: 22px;color:black;font-weight: 400;line-height: 23px;">
                                {{ customChapter.title }}
                            </span>
                        <ul style="list-style: none;margin-top:0;padding-top:0;">
                            <li v-for="(obj,i) in retLi2" style="padding-top: 16px;padding-bottom: 16px">
                                <div style="display: flex;flex-direction: row" v-if="obj">
                                    <div style="display: flex;flex-direction: column;">
                                        <pre style="margin-top: 15px; white-space: pre-wrap;max-width: 700px">{{
                                            formatTitle2(i, obj.title)+"\n"+formatModel(obj.content)
                                        }}</pre>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            models: [],
            models2: [],
            retLi: [],
            retLi2: [],
            customChapter: null,
            availableLi2: [],
            selected: -1,
            name: "XX项目",
            address: "成都市",
            start_date: "2023-05-01",
            end_date: "2023-05-01",
            duration: 1,
            linespace: 0,
            state: ""
        },
        methods: {
            selectOption: function () {

            },
            useModel: function (model) {
                if (model.inUse) {
                    this.retLi = this.retLi.filter(e => e.title !== model.title)
                } else {
                    this.retLi.push(model)
                }
                model.inUse = !model.inUse
            },
            useModel2: function (model) {
                this.retLi2.push(model)
            },
            formatTitle: function (i, title) {
                if (i < 10) {
                    return first + arr[i] + end + title
                }
                var high = Math.floor(i / 10)
                var low = i % 10
                console.log("ten:" + high + " Low: " + low)
                if (low === 9) {
                    return first + arr[high] + ten + end + title
                }
                if (high === 1) {
                    return first + ten + arr[low] + end + title
                }
                return first + arr[high - 1] + ten + arr[low] + end + title
            },
            formatTitle2: function (i, title) {
                if (i < 10) {
                    return first + arr[i] + end2 + title
                }
                var high = Math.floor(i / 10)
                var low = i % 10
                console.log("ten:" + high + " Low: " + low)
                if (low === 9) {
                    return first + arr[high] + ten + end2 + title
                }
                if (high === 1) {
                    return first + ten + arr[low] + end2 + title
                }
                return first + arr[high - 1] + ten + arr[low] + end2 + title
            },
            formatModel: function (content) {
                var ret = content
                ret = ret.replaceAll("{{name}}", this.name)
                ret = ret.replaceAll("{{address}}", this.address)
                ret = ret.replaceAll("{{start_date}}", this.start_date)
                ret = ret.replaceAll("{{end_date}}", this.end_date)
                ret = ret.replaceAll("{{duration}}", this.duration)
                ret = ret.trim()
                return ret
            },

            genPDF: function () {
                var doc = new jsPDF('p', 'mm', 'a4');

                function setFontHt() {
                    // if ('SourceHanSans-Normal' === doc.fontName) {
                    //     console.log('already set ' + doc.fontName)
                    //     return
                    // }
                    // doc.addFileToVFS('SourceHanSans-Normal.ttf', font_ht);
                    // doc.addFont('SourceHanSans-Normal.ttf', 'SourceHanSans-Normal', 'normal');
                    // doc.setFont('SourceHanSans-Normal');
                }

                function setFontSt_() {
                    if ('simsun' === doc.fontName) {
                        console.log('already set ' + doc.fontName)
                        return
                    }

                    doc.addFileToVFS('simsun-normal.ttf', font_st);
                    doc.addFont('simsun-normal.ttf', 'simsun', 'normal');
                    doc.setFont('simsun', 'normal');
                }

                function setFontStb() {
                    if ('font-simsun' === doc.fontName) {
                        console.log('already set ' + doc.fontName)
                        return
                    }

                    doc.addFileToVFS('font-simsun-bold.ttf', font_stb);
                    doc.addFont('font-simsun-bold.ttf', 'font-simsun', 'bold');
                    doc.setFont('font-simsun', 'bold');
                }

                doc.setLineHeightFactor(1.01);
                // doc.setLineSpacing(0.5);
                // doc.lineHeight = (16 / doc.internal.scaleFactor); // 将像素值转换为点

                const SIZE_CONTENT = 14;
                const SIZE_3 = SIZE_CONTENT;
                const SIZE_2 = SIZE_3 + 1;
                const SIZE_1 = SIZE_2 + 1;
                const SIZE_0 = 20;
                const START_Y = 25;

                var cursorY = START_Y;
                var fontSize = SIZE_1;
                var honPadding = 25;
                var catalogPageIndex = 1;
                var contentPageIndex = 2;
                // 获取 PDF 页面的宽度和高度
                var pdfWidth = doc.internal.pageSize.width;
                var pdfHeight = doc.internal.pageSize.height;
                console.log("pdfWidth: " + pdfWidth + ", pdfHeight:" + pdfHeight)
                //生成目录
                var cursorY_ = START_Y;
                var title = "目录"
                var titleWidth = doc.getStringUnitWidth(title) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                doc.setFontSize(SIZE_0);
                setFontSt_();
                doc.text(title, (pdfWidth - titleWidth) / 2, cursorY_);
                cursorY_ += fontSize + 2;

                function updateCatalog(title) {
                    if (cursorY_ > 280) {
                        doc.insertPage(catalogPageIndex + 1);
                        catalogPageIndex++;
                        contentPageIndex++;
                        cursorY_ = START_Y;
                    }
                    doc.setPage(catalogPageIndex)
                    var currentFontSize = doc.getFontSize()
                    var catalogSize = currentFontSize * 6 / 7;
                    doc.setFontSize(catalogSize);
                    doc.text(title, honPadding, cursorY_);
                    // var txtW = doc.getStringUnitWidth(title) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                    // doc.link(honPadding, cursorY_, txtW, catalogSize, { destinationPageNumber: 1 });
                    // doc.textWithLink(title, txtW, cursorY_, { destinationPageNumber: 2 });
                    cursorY_ += SIZE_3;
                    doc.setPage(contentPageIndex);
                    doc.setFontSize(currentFontSize);
                }

                doc.addPage()
                app.retLi.forEach(function (obj, i) {
                    var title = app.formatTitle(i, obj.title)
                    if (i > 0) {
                        doc.addPage();
                        contentPageIndex++;
                        cursorY = START_Y; // 重置 Y 坐标位置为页面顶部
                    }
                    fontSize = SIZE_0;
                    doc.setFontSize(fontSize);
                    var titleWidth = doc.getStringUnitWidth(title) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                    doc.text(title, (pdfWidth - titleWidth) / 2, cursorY);
                    updateCatalog(title);
                    cursorY += SIZE_0 + SIZE_CONTENT;
                    var content = app.formatModel(obj.contents[obj.selected]);
                    fontSize = SIZE_CONTENT;
                    doc.setFontSize(fontSize);
                    var lines = doc.splitTextToSize(content, pdfWidth - 2 * honPadding);
                    for (var i = 0; i < lines.length; i++) {
                        if (cursorY > 280) { // 检查导致分页的 Y 坐标位置
                            doc.addPage();
                            contentPageIndex++;
                            cursorY = START_Y; // 重置 Y 坐标位置为页面顶部
                        }
                        //检查是否插入图片 {pdfImgName:"",width:10,height,10,url:""}
                        var imgIndex = lines[i].indexOf('{"pdfImgName');
                        var tableIndex = lines[i].indexOf('{"pdfTable');
                        var titleIndex = lines[i].indexOf('{#');
                        if (imgIndex !== -1) {
                            console.log("addImage")
                            var imgJson = "";
                            var i_ = i;
                            while (lines[i].indexOf("}") === -1) {
                                imgJson += lines[i].trim();
                                i++;
                            }
                            if (i > i_) {
                                var str = lines[i].trim()
                                imgJson += str.substring(0, str.indexOf("}")) + "}";
                            }
                            var imgObj = JSON.parse(imgJson);
                            // 定义图片宽度和高度
                            var imgWidth = imgObj.width > 0 ? imgObj.width : 100;
                            var imgHeight = imgObj.height > 0 ? imgObj.height : 100;
                            console.log("imgWidth:" + imgWidth + ", imgHeight:" + imgHeight)
                            var scaleW = 1;
                            var scaleH = 1;
                            if (imgWidth > pdfWidth) {
                                scaleW = pdfWidth * 0.6 / imgWidth
                            }
                            if (imgHeight > pdfHeight) {
                                scaleH = pdfHeight * 0.6 / imgHeight
                            }
                            var scale = scaleW < scaleH ? scaleW : scaleH;
                            console.log("scale:" + scale)
                            imgWidth = imgWidth * scale;
                            imgHeight = imgHeight * scale;
                            if (imgHeight > (pdfHeight - cursorY)) {
                                doc.addPage();
                                contentPageIndex++;
                                cursorY = START_Y;
                            }
                            // 计算图片需要插入的坐标位置，居中显示
                            var x = (pdfWidth - imgWidth) / 2;
                            // 插入图片到 PDF 中，并居中显示
                            var type = imgObj.src.substring(imgObj.src.indexOf("/") + 1, imgObj.src.indexOf(";"))
                            doc.addImage(imgObj.src, type, x, cursorY, imgWidth, imgHeight);
                            fontSize = SIZE_CONTENT - 4;
                            cursorY += imgHeight + fontSize;
                            doc.setFontSize(fontSize);
                            if (cursorY >= (pdfHeight - honPadding - fontSize)) {
                                doc.addPage();
                                contentPageIndex++;
                                cursorY = START_Y;
                            }
                            var imgTitleWidth = doc.getStringUnitWidth(imgObj.pdfImgName) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                            doc.text(imgObj.pdfImgName, (pdfWidth - imgTitleWidth) / 2, cursorY);
                            cursorY += fontSize + 2;
                            fontSize = SIZE_CONTENT
                            doc.setFontSize(fontSize);
                            //图片处理结束
                        } else if (tableIndex !== -1) {
                            console.log("addTable")
                            var tableJson = "";
                            var i_ = i;
                            while (lines[i].indexOf("}") === -1) {
                                tableJson += lines[i].trim();
                                i++;
                            }
                            if (i > i_) {
                                var str = lines[i].trim()
                                tableJson += str.substring(0, str.indexOf("}")) + "}";
                                try {
                                    tableJson = tableJson.replace(/[\n\r]/g, '')
                                } catch (e) {
                                    alert(e.message);
                                }
                                // console.log('tableJson: ' + tableJson);
                            }
                            var tableObj = JSON.parse(tableJson);
                            var data = tableObj['data'];
                            var tableName = tableObj['pdfTableName'];
                            // var headers = data[0];
                            // data.shift();
                            var table = {
                                // head: [headers],
                                body: data,
                                startY: cursorY,
                                margin: honPadding,
                                theme: 'grid',
                                tableWidth: 'auto',
                                rowPageBreak: 'avoid',
                                bodyStyles: {
                                    halign: 'center',
                                    valign: 'middle',
                                    minCellWidth: 15,
                                    cellWidth: 'auto',
                                },
                                styles: {
                                    font: 'simsun',
                                    fontStyle: "normal",
                                    fontSize: 12,
                                }
                            };
                            doc.autoTable(table);
                            let tableHeight = doc.lastAutoTable.finalY;
                            console.log(`tableHeight: ${tableHeight}`);
                            var pageNum = doc.internal.getNumberOfPages();
                            var inOnePage = pageNum === contentPageIndex;
                            if (!inOnePage) {
                                console.log("table multi page, pageNum:" + pageNum + ", offset: " + (pageNum - contentPageIndex));
                                contentPageIndex = pageNum;
                                cursorY = tableHeight;
                            } else {
                                cursorY = tableHeight;
                            }
                            if (cursorY > 280) {
                                doc.addPage();
                                contentPageIndex++;
                                cursorY = START_Y;
                            }
                            fontSize = SIZE_CONTENT - 4;
                            doc.setFontSize(fontSize);
                            cursorY += fontSize;
                            var tbNameWidth = doc.getStringUnitWidth(tableName) * doc.internal.getFontSize() / doc.internal.scaleFactor;
                            doc.text(tableName, (pdfWidth - tbNameWidth) / 2, cursorY);
                            cursorY += SIZE_CONTENT + 2;
                            fontSize = SIZE_CONTENT;
                            doc.setFontSize(fontSize);
                        } else if (titleIndex !== -1) {
                            var titleContent = ""
                            var index_ = lines[i].indexOf('{###');
                            var titleFontSize = SIZE_3;
                            if (index_ === -1) {
                                index_ = lines[i].indexOf('{##');
                                titleFontSize = SIZE_2;
                                if (index_ === -1) {
                                    index_ = titleIndex;
                                    titleFontSize = SIZE_1;
                                    titleContent = lines[i].substring(index_ + 2, lines[i].indexOf('}'))
                                } else {
                                    titleContent = lines[i].substring(index_ + 3, lines[i].indexOf('}'))
                                }
                            } else {
                                titleContent = lines[i].substring(index_ + 4, lines[i].indexOf('}'))
                            }
                            doc.setFontSize(titleFontSize);
                            if (cursorY > START_Y) {
                                if ((cursorY + 2 * SIZE_3) >= 280) {
                                    doc.addPage();
                                    contentPageIndex++;
                                    cursorY = START_Y;
                                } else {
                                    // cursorY += SIZE_3;
                                }
                            }
                            setFontStb();
                            doc.text(titleContent, honPadding, cursorY);
                            setFontSt_();
                            if (titleFontSize > SIZE_2) {
                                updateCatalog("    " + titleContent);
                            }
                            cursorY += SIZE_3;
                            doc.setFontSize(fontSize);
                        } else {
                            doc.text(lines[i], honPadding, cursorY); // 在当前页的给定位置添加文本
                            cursorY += fontSize + parseInt(app.linespace); // 递增 Y 坐标位置
                        }
                    }
                })
                var result = app.genFileName()
                doc.save(result + ".pdf");
            },
            genFileName: function () {
                var date = new Date()
                console.log(date)
                var year = date.getFullYear()//获取年
                var month = date.getMonth() + 1//获取月
                var day = date.getDate()//获取日
                var hours = date.getHours()//获取时
                var minutes = date.getMinutes()//获取分
                var seconds = date.getSeconds()//获取秒
                month = month > 9 ? month : "0" + month
                day = day > 9 ? day : "0" + day
                hours = hours > 9 ? hours : "0" + hours
                minutes = minutes > 9 ? minutes : "0" + minutes
                // seconds = seconds > 9 ? seconds : "0" + seconds//数据不大于9时在数据前方拼接一个“0”
                var result = "施组_" + year + month + day + "_" + hours + minutes
                return result
            },
        },
    })
    var cacheStr = localStorage.getItem('models')
    if (cacheStr == null || cacheStr.length === 0) {
        app.models = configModels
    } else {
        app.models = JSON.parse(cacheStr);
    }
    // 小节
    var cacheStr2 = localStorage.getItem('models2')
    if (cacheStr2 == null || cacheStr2.length === 0) {
        app.models2 = configModels2
    } else {
        app.models2 = JSON.parse(cacheStr2);
    }
    var sortFunc = function (a, b) {
        if (typeof a.contentCode !== 'string' || typeof b.contentCode !== 'string') {
            return 1;
        }
        var fieldA = a.contentCode.toLowerCase(); // 将字段转换为小写以进行不区分大小写的排序
        var fieldB = b.contentCode.toLowerCase(); // 将字段转换为小写以进行不区分大小写的排序

        // 使用 localeCompare 进行字符串的比较
        if (fieldA < fieldB) {
            return -1;
        }
        if (fieldA > fieldB) {
            return 1;
        }
        return 0; // 相等的情况
    };
    app.models = app.models.sort(sortFunc);
    app.models2 = app.models2.sort(sortFunc);
    // console.log("Vue:" + JSON.stringify(models))

    const arr = ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十"]
    const first = "第"
    const ten = "十"
    const end = "章  "
    const end2 = "节  "


    //加载状态为complete时移除loading效果
    function completeLoading() {
        app.state = document.readyState
        console.log("onreadystatechange state: " + app.state)
    }

    //监听加载状态改变
    document.onreadystatechange = completeLoading;

    function openPopup(obj) {
        if (typeof obj.contentCode !== "string") {
            alert("无可用配置");
            return;
        }
        app.customChapter = obj;
        var checkStr = obj.contentCode.substring(0, obj.contentCode.indexOf("-"));
        if (checkStr === null || checkStr.length < 1) {
            alert("无可用配置");
            return;
        }
        app.availableLi2 = app.models2.filter(function (subcontent) {
            return subcontent.contentCode.indexOf(checkStr) > -1 || subcontent.contentCode.indexOf('TY' + checkStr.substring(2)) > -1;
        });
        if (app.availableLi2 == null || app.availableLi2.length < 1) {
            alert("无可用配置");
            return;
        }
        var popup = document.getElementById('popup');
        popup.style.display = 'flex';
    }

    function closePopup() {
        var popup = document.getElementById('popup');
        popup.style.display = 'none';
        app.retLi2 = [];
    }

    function confirConfig2() {
        if (app.retLi2.length > 0) {
            var content = "";
            for (let i = 0; i < app.retLi2.length; i++) {
                content += "{#" + app.formatTitle2(i, app.retLi2[i].title) + "}\n";
                content += app.retLi2[i].content + "\n";
            }
            app.customChapter.contents.unshift(content);
            app.customChapter.selected = 0;
        }
        document.getElementById('popup').style.display = 'none';
        app.retLi2 = [];
    }

</script>

</body>

</html>